<%- include("header") -%>

    <!-- OG Tags Start -->  
    <meta property="og:title" content="PAN Card Verification">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <meta property="og:street-address" content="">
    <meta property="og:locality" content="">
    <meta property="og:region" content="">
    <meta property="og:country-name" content="India">
    <meta property="og:email" content="">
    <meta property="og:phone_number" content="">

    <title>PAN Card Verification</title>
    
    <link rel="icon" href="./img/favicon.svg" sizes="32x32" type="image/png"> 


    <!-- CSS Stylesheets -->

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="./css/mystyle.css" rel="stylesheet" type="text/css">
    <!-- FONT -->
    <link href="./fonts/asap/stylesheet.css" rel="stylesheet" type="text/css">	

</head>
<body>


	<div class="wrapper">

		<div class="main">
			<div class="mainmenu" id="mainmenu">
				<div class="menu">
	<ul>
		<li class="d-block d-lg-none"><button class="close" id="closeBtn"></button></li>
		<li class="active"><a href="/pan">PAN </a></li>
		<li class=""><a href="/aadhar">Aadhaar</a></li>
		<li class=""><a href="/ifsc">IFSC</a></li>
		<li class=""><a href="#">Bank Account </a></li>
		<li class=""><a href="#">Income Tax-ITR</a></li>
		<li class=""><a href="#">Income Form 16</a></li>
		<li class=""><a href="#">DIN</a></li>
		<li class=""><a href="#">CIN</a></li>
		<li class=""><a href="#">GSTIN</a></li>
		<li class=""><a href="#">Aadhaar Signature</a></li>
		<li class=""><a href="#">Video KYC</a></li>
		<li class=""><a href="#">Passport </a></li>
		<li class=""><a href="#">CIBIL</a></li>
	</ul>
	</div><!-- menu -->			</div>
				<div class="d-lg-none">
				<button class="menuBtn"><img src="./img/menu.svg" alt></button>
		</div>
<!--end of Navigation bar-->

			<div class="content">
				<div class="contbox">
					<div class="row">
					
					<div class="col">
					<div class="formicon">
						<img src="./img/card.svg" alt>
					</div><!-- formicon -->
					<h1>Pan Card Verification</h1>
					</div><!-- col -->

					<form class="needs-validation"  method="POST" action="\pan" novalidate>
                             <!-- class="was-validated" needs-validation -->
					    <div class="col mb-3">
					      <label for="validationCustom01">PAN </label>
					      <input type="text" class="form-control" pattern="[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}" name="pan" id="validationCustom01" required>
					      <div class="valid-feedback ">
					        Looks Good!
					      </div>
					      <div class="invalid-feedback ">
					        Please Enter PAN Card Number.
					      </div>
					    </div>
					    <div class="col">
					  		<button id="verify" class="btn btn-submit" type="button" >Verify</button>
					  	</div>

					</form>

					</div><!-- row -->

					<div class="row" id="dataList">
						<div class="maindata">
							<table class="table table-hover">
							<tr>
								<td>PAN </td>
								<td>:</td>
								<td  id="panno"><%= panNum %></td>
							</tr>
							<tr>
								<th>Name</th>
								<th>:</th>
								<th  id="name"><%= personName %></th>
							</tr>
							<tr>
								<td>Status</td>
								<td>:</td>
								<td  id="status"><%= message %></td>
								<td id="flag"><i id="faflag" aria-hidden="true"></i></td>								
							</tr>
							</table>
						</div><!-- maindata -->
					</div><!-- row -->

				</div><!-- contbox -->
			</div><!-- cointent -->
		</div><!-- main -->
	</div><!-- wrapper -->


    <script src="./js/jquery-3.5.1.min.js"></script> 
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/main.js"></script>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
	$('#dataList').hide(); 
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('click', function(event) {
        if (!(form.checkValidity())) {
          event.preventDefault();
          event.stopPropagation();
		  $('#dataList').hide(); 
        }
        form.classList.add('was-validated');		
      }, false);
    });
  }, false);
})();
</script>

<script>
	$('#validationCustom01').keypress(function (e) {
   var key = e.which;
   if(key == 13)  // the enter key code
	{
	  $('#verify').click();
	  return false;  
	}
  }); 
  </script>

<script>
$(document).ready(function(){	
	
		$('#verify').on('click', function(){
			$('#dataList').hide(); 
			var number = $('#validationCustom01').val();
			$('#panno').text(number);
		  $('#name').text("Loading..");
          statusMsg = "Loading..";
		  $('#status').text(statusMsg);
		  $('#faflag').removeClass();			
		  const CODE_PATTERN = /^([a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1})$/;
			console.log(number);
			if ((CODE_PATTERN.test(number)))
			{			
			var settings = {
             "url": "https://sandbox.aadhaarkyc.io/api/v1/pan/pan",
              "method": "POST",
              "timeout": 0,
               "headers": {
                   "Content-Type": "application/json",
	               "Authorization":
                   "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTYyNTc0NTMwNiwianRpIjoiNGE4ZmYxN2EtYzEwMy00Y2VjLWI1OGItOGZkMDUxNzQyZjdlIiwidHlwZSI6ImFjY2VzcyIsImlkZW50aXR5IjoiZGV2LnNydmluZm90ZWNoQGFhZGhhYXJhcGkuaW8iLCJuYmYiOjE2MjU3NDUzMDYsImV4cCI6MTYyODMzNzMwNiwidXNlcl9jbGFpbXMiOnsic2NvcGVzIjpbInJlYWQiXX19.DYdv0yltgiZ3hOvMZ1rxDMT62LWwH4TBgdvLyP3CUus",
                   "Accept": "application/json"
                   },
              "data": JSON.stringify({
              "id_number": number
        }),
};
console.log(settings);

$.ajax(settings).always(function (response) {
  console.log(response);
  let panStatus = response.success;
  console.log(panStatus);
        let statusMsg;
        let panNum;
		let  personName;
		  
		     if (panStatus) {
             statusMsg = "Verified Successfully";
		     $('#status').text(statusMsg);
		     $('#faflag').removeClass("fa fa-window-close");
		     $('#faflag').addClass("fa fa-check");
			  panNum= response.data.pan_number;
        	  personName= response.data.full_name;
		
          $('#panno').text(panNum);
		  $('#name').text(personName);
            }
	       else {
			$('#panno').text(number);
          statusMsg = "Failed, Check PAN #";
		  $('#name').text("Invalid PAN");
		  $('#status').text(statusMsg);
		  $('#faflag').removeClass("fa fa-check");
		  $('#faflag').addClass("fa fa-window-close");
        }	 
 });			
			}
			else
			{
		  $('#panno').text(number);
		  $('#name').text("Invalid PAN");
		  statusMsg = "Failed, Check PAN #";
		  $('#status').text(statusMsg);
		  $('#faflag').addClass("fa fa-window-close");
			}
			$('#dataList').show();
	});
	});
</script>
</body>
</html>